
.auth {
    margin-top: 10%;
}

.auth-form {
    max-width: 400px;
    padding-bottom: 2em;
    text-align: center;
    margin: auto;
}

.auth-form .field {
    text-align: initial;
}

.tab {
}

.training {
    text-align: center;
}

.phrase-card {
    padding: 1em;
    max-width: 800px;
    margin: auto;
}

.phrase-card .card-text {
    margin-bottom: 1em;
    font-size: 20px;
}
