
.auth {
    margin-top: 10%;
}

.auth-form {
    max-width: 400px;
    padding-bottom: 2em;
    text-align: center;
    margin: auto;
}

.load-more {
    text-align: center;
    padding: 1em;
}

.auth-form .field {
    text-align: initial;
}

.tab {
}

.filters {
    margin-left: 24px;
    margin-right: 24px;
}

