
.auth {
    margin-top: 10%;
}

.auth-form {
    max-width: 400px;
    padding-bottom: 2em;
    text-align: center;
    margin: auto;
}

.load-more {
    text-align: center;
    padding: 1em;
}

.auth-form .field {
    text-align: initial;
}

.tab {
}

.training {
    text-align: center;
}

.training .type-selector {
    position: absolute !important;
    left: 16px;
    bottom: 0px;
    text-align: initial;
}

.training .speech {
    margin-left: 1em;
    position: relative;
    bottom: -10px;
}

.flashcard {
    padding: 1em;
    max-width: 800px;
    margin: auto;
}

.flashcard .card-text {
    margin-bottom: 1em;
    font-size: 20px;
}

.flashcard .card-text button {
    min-width: 0 !important;
}


.flashcard .card-text button  span {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.constructor {
    padding: 1em;
}

.constructor .source-text {
    font-size: 18px;
}

.constructor .blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
}


.constructor .blocks div {
    margin: 2px !important;
}
